{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
    <style>
        /* body{
            background-image: url("{% static 'image1.jpg' %}");
            backdrop-filter: blur(10px);
        } */
    </style>
</head>

<body>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Name: <input type="text" name="name"><br><br>
            FatherName: <input type="text" name="fathername"><br><br>
            Class: <input type="text" name="class"><br><br>
            Age :<input type="number" name="age"><br><br>
            Image:<input type="file" name="file"><br><br>
            <input type="submit" value="Upload">

        </form>
    </div>
    {{msg}}
</body>

</html>